:root {
  --active-color: green;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 5px;
}

tr {
  list-style-type: none;
}

tr.active {
  background-color: var(--active-color);
  color: white;
}

tr:hover {
  cursor: pointer;
}

th {
  width: 33%;
}

thead tr {
  background-color: rgba(0, 0, 0, 0.2);
}

h3 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.countryList {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
}
